* {
    box-sizing: border-box;
}

body {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

/*==========LAYOUT==========*/

header {
    display: block;
    background-color: teal;
    width: 100%;
    height: 150px;
    text-align: center;
    text-decoration: none;
}

.section-one {
    display: table;
    height: 90vh;
    width: 100%;
    background: url('./images/bak1.jpg') no-repeat 70% center/cover;
}

.section-two {
    display: inline-table;
    position: relative;
    height: 90vh;
    width: 100%;
    border: 2px black solid;
    background: url(./images/background2.jpg);
    text-align: center;
}

.section-three {
    display: table;
    height: 50vh;
    width: 100%;
    background-color: teal
}

footer {
    display: block;
    background-color: rgb(60, 60, 60);
    width: 100%;
    height: 150px;
}

/*==========COMPONENTS==========*/

.nav-one {
    display: inline-block;
    position: relative;
    top: 45px;    
}

.nav-content {
    margin: 15px;
    text-decoration: none;
    color: azure;
    font-family: 'Odibee Sans', cursive;
}

.nav-content:hover {
    color: rgb(98, 51, 112);
}

.section-one-content {
    color: 	white;
}

.section-one-content {
    position: relative;
    text-align: center;
    top: 600px;
    text-decoration: none;
    letter-spacing: 5px;
    line-height: 70px;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

.section-p {
    font-weight: bold;
}

.apply-btn {
    display: inline-block;
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
    height: 70px;
    width: 250px;
    text-decoration: none;
    border: 3px white solid;
    border-radius: 5%;
    margin: 10px 10px 10px 10px; 
    letter-spacing: 2px;
}

.apply-btn:hover {
    background-color: rgb(204, 204, 255);
    border: 3px rgb(0, 51, 102) solid;
    color: rgb(0, 0, 102);
}

.section-two-content {
    background-color: white;
    text-align: center;
    font-size: 1.6rem;
    line-height: 40px;
    margin-top: 100px;
    width: 50%;
    height: 100%;
    position: relative;
    top: -99px;
    left: 25%
}

h2 {
    font-weight: bold;
}

.section-application {
    padding-top: 50px;
}

.section-text {
    padding-top: 100px;
}



